# Rust target directory
target/

# Specific output files
patterns/*
logs/
queue/
shares/

# Compiled artifacts and debug symbols
*.pdb
*.rlib
*.dylib
*.so
*.dll
*.exe

# Environment files
.env 

!patterns/switzerland_map.json
!patterns/switzerland_flag.json

.cursor/