# Rust target directory
target/

# Specific output files
pixel_arts/

# Queue file
queue.json

# Compiled artifacts and debug symbols
*.pdb
*.rlib
*.dylib
*.so
*.dll
*.exe

# Environment files
.env 

dev/